# No .gitignore itself
# .gitignore

# No .pyc files
*.pyc

# No .idea/ folder
.idea/

# No merge files
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*

# No databases
*.sqlite3

# Other files and folders to ignore
*.log
*.csv
*.xls*
celery_log.txt
runserver
output/
test/
env/
stunnel/
