<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css"/>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}poll_state.js" async></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#status-progress-bar").hide()

            // poll state of the current task
            $("#submit-id-get_mutual_contacts").click(show_progress);
        });
    </script>
    <title>Get mutual contacts</title>
</head>
<body>
<a href="/contacts/" class="btn btn-primary" role="button">Home</a>
<div class="centered-wrapper">
    <div class="centered-content">
        <div class="progress" id="status-progress-bar">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                0%
            </div>
        </div>
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
</div>
</body>
</html>