<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css"/>
    <meta charset="UTF-8">
    <title>Public crawler</title>
</head>
<body class="centered-wrapper">
    <div class="centered-content">
        <!--<form action="/contacts/download/" method="post">-->
            <!--{% csrf_token %}-->
            <!--{% for field in form %}-->
            <!--<div class="fieldWrapper">-->
                <!--{{ field.label_tag }} {{ field }}-->
            <!--</div>-->
            <!--{% endfor %}-->
            <!--<input type="submit" value="Submit"/>-->
        <!--</form>-->
        <a href="{{ path }}">DOWNLOAD</a>
    </div>
</body>
</html>